*{
    margin: 0;
}

.app__header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 2%;
}

.app__stats{
    display: flex;
    justify-content: space-between;
    margin: 1% 2%;
}




.app{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    background-color: rgb(240, 239, 238);
}

.app__left{
    flex: 0.9;
}

@media (max-width: 990px){
    .app{
        flex-direction: column;
    }
}

.table tr{
    display: flex;
    justify-content: space-between;
}

.table tr>td{
    padding: 0.5rem;
}