.map{
    height: 500px;
    background-color: rgb(248, 229, 204);
    border-radius: 2rem;
    padding: 1rem;
}

.map .leaflet-container{
    height:100%;
    border-radius: 2rem;
}

.info__flag img{
    width: 200px; 
    height: 100px;
    border-radius: 1rem}

.info__flag{
    width: 200px;
    height: 100px;
    border-radius: 1rem;
}

.info__country{
    font-weight: bolder;
    font-size: 20px;;
}

.info__cases {
    margin-top:5px;

}